#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  /* border: 1px solid #ddd; */
  padding: 25px;
}

/* #customers tr:nth-child(even){background-color: #f2f2f2;} */

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #EBE4DB;
  color: #585652;
}
#customers td{
  text-align:center
}
/* .navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
} */
body{
  background-color: #EBE4DB;
  font-size: 15px;
}